:root {
    --white-clr: #ffffff;
    --blue-clr: #1992d4;
    --gray-clr: #e2e8f0;
    --yellow-clr: #f0b429;

    --extra-large-size: 4rem;
    --near-extra-large-size: 3.5rem;
    --very-large-size: 3rem;
    --near-very-large-size: 2.5rem;
    --mid-very-large-size: 2rem;
    --large-size: 1.5rem;
    --near-large-size: 1.3rem;
    --mid-large-size: 1.2rem;
    --base-size-plus: 1.1rem;
    --base-size: 1rem;
    --small-size: 0.8rem;
    --very-small-size: 0.6rem;
    --extra-small-size: 0.4rem;
    --super-small-size: 0.2rem;

    --border-circle: 50%;
    --border-circle-left-and-right: 9999px;


}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px calc(100vh - 150px);
  grid-template-areas: 
  "sidebar header"
  "sidebar main"
  ;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.header {
  display: grid;
  background-color: var(--white-clr);
  grid-area: header;
  padding: var(--mid-large-size) var(--mid-very-large-size);
  gap: var(--very-small-size);
}

.header svg {
  width: var(--near-large-size);
}

.header svg:hover {
  fill: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.header .top {
  display: grid;
  grid-template-columns: 55% 45%;
}

.header .top > * {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.header .top .left {
  display: grid;
  grid-template-columns: 5% 95%;
}

.header .top form input[type="search"] {
  background-color: var(--gray-clr);
  border: none;
  outline: none;
  border-radius: var(--border-circle-left-and-right);
  padding: var(--super-small-size) var(--very-small-size);
}

.header .top form input[type="search"]:focus {
  border: 1px solid var(--blue-clr);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.header .top .right {
  gap: var(--large-size);
  justify-content: flex-end;
  padding: 0 var(--base-size);
}

.header .top .right img {
  width: var(--near-very-large-size);
  height: var(--near-very-large-size);
  border-radius: var(--border-circle);
}

.header .top .right span {
  font-weight: 500;
}

.header .bottom {
  display: grid;
  grid-template-columns: 68% 32%;
}

.header .bottom .left {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: var(--small-size);
  justify-items: flex-start;
  align-items: center;
}

.header .bottom .left .text {
  display: grid;
}

.header .bottom .left .text span:first-of-type {
  font-size: var(--small-size);
  font-weight: 500;
}

.header .bottom .left .text span:last-of-type {
  font-size: var(--mid-large-size);
  font-weight: 700;
}

.header .bottom .left img {
  width: var(--near-extra-large-size);
  height: var(--near-extra-large-size);
  border-radius: var(--border-circle);
}

.header .bottom .right {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  justify-content: space-between;
}

.header .bottom .right button {
  background-color: var(--blue-clr);
  border-radius: var(--border-circle-left-and-right);
  color: var(--white-clr);
  border: none;
  padding: var(--super-small-size) var(--large-size);
  cursor: pointer;
}

.header .bottom .right button:hover {
  opacity: 0.8;
}

.sidebar {
    background-color: var(--blue-clr);
    grid-area: sidebar;
    display: grid;
    align-content: flex-start;
    padding: var(--base-size);
    row-gap: var(--mid-very-large-size);
}

.sidebar ul svg {
  width: var(--base-size-plus);
  fill: var(--white-clr);
}

.sidebar a {
  text-decoration: none;
} 

.sidebar ul span {
  color: var(--white-clr);
  font-weight: 600;
  font-size: var(--base-size);
}


.sidebar .sidebar-title a {
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: flex-end;
}

.sidebar .sidebar-title svg {
  width: var(--mid-very-large-size);
  fill: var(--white-clr);
  justify-self: center;
}

.sidebar .sidebar-title span {
  font-weight: bold;
  font-size: var(--mid-large-size);
  user-select: none;
  color: var(--white-clr);
}

.sidebar .first-navigation-links ul li a,
.sidebar .second-navigation-links ul li a {
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: start;
  border-radius: var(--extra-small-size);
  padding: var(--extra-small-size);
}

.sidebar .first-navigation-links ul li a:hover,
.sidebar .second-navigation-links ul li a:hover {
  background-color: rgba(9, 45, 65, 0.11);
}

.sidebar .first-navigation-links ul,
.sidebar .second-navigation-links ul {
  list-style-type: none;
}

.sidebar .first-navigation-links ul li svg:first-child,
.sidebar .second-navigation-links ul li svg:first-child{
  justify-self: center;
  height: 100%;
}

.main {
    background-color: var(--gray-clr);
    grid-area: main;
}
