:root {
    --white-clr: #ffffff;
    --blue-clr: #1992d4;
    --gray-clr: #e2e8f0;
    --yellow-clr: #f0b429;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 100px calc(100vh - 100px);
  grid-template-areas: 
  "sidebar header"
  "sidebar main"
  ;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.header {
    background-color: var(--white-clr);
    grid-area: header;
}

.sidebar {
    background-color: var(--blue-clr);
    grid-area: sidebar;
}

.main {
    background-color: var(--gray-clr);
    grid-area: main;
}
