:root {
    --white-clr: #ffffff;
    --blue-clr: #1992d4;
    --gray-clr: #e2e8f0;
    --yellow-clr: #f0b429;

    --extra-large-size: 4rem;
    --very-large-size: 3rem;
    --mid-very-large-size: 2rem;
    --large-size: 1.5rem;
    --mid-large-size: 1.2rem;
    --base-size: 1rem;
    --small-size: 0.8rem;
    --very-small-size: 0.6rem;
    --extra-small-size: 0.4rem;


}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 100px calc(100vh - 100px);
  grid-template-areas: 
  "sidebar header"
  "sidebar main"
  ;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.header {
    background-color: var(--white-clr);
    grid-area: header;
}

.sidebar {
    background-color: var(--blue-clr);
    grid-area: sidebar;
    display: grid;
    align-content: flex-start;
    padding: var(--base-size);
    row-gap: var(--mid-very-large-size);
}

.sidebar ul svg {
  width: var(--mid-large-size);
  fill: var(--white-clr);
}

.sidebar ul a {
  text-decoration: none;
} 

.sidebar span {
  color: var(--white-clr);
  font-weight: 600;
  font-size: var(--base-size);
}


.sidebar .sidebar-title {
  display: grid;
  grid-template-columns: 25% 75%;
  justify-content: flex-start;
  align-items: center;
}

.sidebar .sidebar-title svg {
  width: var(--mid-very-large-size);
  fill: var(--white-clr);
  justify-self: center;
}

.sidebar .sidebar-title span {
  font-weight: bold;
  font-size: var(--mid-large-size);
  user-select: none;
}

.sidebar .first-navigation-links ul li,
.sidebar .second-navigation-links ul li {
  display: grid;
  grid-template-columns: 25% 75%;
  justify-content: flex-start;
}

.sidebar .first-navigation-links ul li svg:first-child,
.sidebar .second-navigation-links ul li svg:first-child{
  justify-self: center;
}

.main {
    background-color: var(--gray-clr);
    grid-area: main;
}
